.idea/

*.iml

venv/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

*.so

__pycache__/
*.py[cod]
*$py.class